<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thank you!</title>
    </head>
    <body>

        <h1>Thank you! You have been signed up to the event!</h1>

        <h3>List of people who have signed up to the event: (Who have agreed for public listing)</h3>

        <form action="#" th:action="@{/done}" method="POST">
            <p><label for="searchTerm">Filter by name</label>: <input type="text" name="searchTerm" id="searchTerm"/></p>
            <p><input type="submit" value="Filter" /></p>
        </form>

        <ul>
            <li th:each="signup : ${signups}">
                <span th:utext="${signup.name}"></span> 
            </li>
        </ul>

    </body>
</html>
